@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:"Poppins",sans-serif;
}
:root{
    --bluebold: #08a6e8;
    --orangebold: #EE603E;
    --orangesoft: #ebbb73;
    --orangelogo: rgb(239, 156, 67);
    --bluesoft: rgb(110, 177, 244);
    --cover: #f3f5f8; 
    --grayfont: #3d535f;
    --dark: #050921;
    --paragraph: rgb(177, 177, 177);
    --judul: rgb(204, 204, 204);
    --transp: rgba(105, 114, 144, 0.311);
    
}
html{
    scroll-behavior: smooth;
}
.awal{
    margin-top: -15%;
    background-image: url(foto/wayuu.png);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 8%;
    margin-right: 8%;
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 0.4s ease-in-out ;
    z-index: 9999;
}
nav.sticky{
    background-color: #050921;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 15px #000000;
}
.logo{
    color: rgb(239, 156, 67);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:#08a6e8;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.4s ease-in-out;
}
nav.sticky ul li a{
    color: var(--cover);
    opacity: 0.98;
}
nav ul li a:hover{
    color:#08a6e8;
    transition: .4s;
}
nav ul li a.active{
    color:#08a6e8;
    transition: .4s;
}
nav.sticky ul li .active{
    color:#08a6e8;
}
.kontak{
    background-color: transparent;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .3s;
}
.kontak:hover{
    background-color: #08a6e8;
    transform: scale(1.01);
}
.kontak .active{
    background-color: #08a6e8;
    transform: scale(1.01);
}
.bungkus{
    color: white;
    margin-top: 15%;
    margin-left: 8%;
}
h4{
    font-size: 30px;
    font-weight: 600;
}
h1{
    font-size: 80px;
}
h5{
    font-size: 15px;
    font-weight: 500;
}
button{
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    background:#08a6e8;
    border: 2px solid #08a6e8;
}
button:hover{
    background: transparent;
}
.more{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.bungkus::before{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: -8%;
    top: 50%;
    background: linear-gradient(45deg, #EE603E,#ebbb73);
    animation: object1 6s linear infinite;
}
.bungkus::after{
    position: absolute;
    content: '';
    height: 300px;
    width: 300px;
    border-radius: 50%;
    right: 0%;
    top: 80%;
    background: linear-gradient(40deg, rgb(40, 82, 237), rgb(110, 177, 244));
    animation: object2 6s linear infinite;
}
@keyframes object1 {
    50%{
        left: -10%;
        top: 45%;
    }
}
@keyframes object2 {
    50%{
        right: 0%;
        top: 85%;
    }
}



.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color:#050921 ;
    filter: blur(100%);
}
.about::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: -5%;
    top: 195%;
    background: linear-gradient(45deg, #EE603E,#ebbb73);
    animation: object3 6s linear infinite;
}
@keyframes object3 {
    50%{
        left: -5%;
        top: 190%;
    }
}
.aboutimg img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    margin:8%;
    left: 30px;
    bottom: 40px;
    padding-left: 8%;
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        left: 5px;
        bottom: 20px;
    }

}
.aboutimg #background{
    position: absolute;
    top: 85%;
    margin-left: -10%;
    width: 45vw;
    transform: rotate(25deg);

}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.aboutconten{
    margin: 8%;
}
.aboutconten h2{
    text-align: left;
    line-height: 1.2;
    color: var(--cover);
}
.aboutconten h3{
    font-size: 2.6rem;
}
.aboutconten p{
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
    color: var(--judul);
}
.link p {
    display: inline-block;
    font-size: 20px;
    color: var(--paragraph);
    padding-right: 20px;
}
.link p i{
    color: var(--orangebold);
}
.link2 a{
    font-size: 30px;
    display: inline;
    padding-right: 10px;
    color: var(--judul);
}
.link2 a i{
    padding: 20px;
    background: var(--transp);
    border: 1px solid var(--transp);
    border-radius: 20px;
    transition: .3s ease-in-out;

}
.link2 a :hover{
    background: var(--bluebold);
    border: 1px solid var(--bluebold);
    transform: scale(1.1) ;
    color: white;
}
.about::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 80%;
    border-radius: 0;
    left: 10%;
    top: 205%;
    background: var(--grayfont);
    animation: object4 6s linear infinite;
}
@keyframes animateSlide{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}






.skills{
    background-color: #050921;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.skills h2{
    padding-top: 6%;
    margin-bottom: -2rem;
    color: var(--cover);
}
.skillcontainer{
    margin: 8rem;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap;
    gap: 2rem;
}
.skillcontainer .skillbox{
    flex: 1 1 3rem;
    background: rgba(255, 255, 255, .1);
    padding: 2rem 2rem 4rem;
    border-radius: 20px;
    text-align: left;
    border: 0px solid linear-gradient(rgba(105, 114, 144, 0.311), rgba(28, 30, 38, 0.311));
    transition: .5s ease;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    margin-bottom: 50px;
}
.skillcontainer .skillbox:hover{
    border: 1px solid var(--bluebold);
    transform: scale(1.02);
}
.skillbox i{
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(204, 204, 204);
}
.skillbox h3{
    font-size: 25px;
    color: rgb(204, 204, 204);
}
.skillbox p{
    font-size: 15px;
    margin: 10px 0 30px;
    color: rgb(177, 177, 177);
}
.skillbox .btn{
    margin-top: -20px;
    margin-bottom: -20px;
}
.btn button{
    border-radius: 10px;
    background-color: var(--dark);
    cursor: pointer;
    border: 0px;
}
.btn button:hover{
    transform: scale(1);
    background-color: var(--bluebold);
}
button{
    color: var(--judul);

}


